<IfModule mod_rewrite.c>
    RewriteEngine On

    # Tu carpeta del proyecto
    RewriteBase /proyecto_BD_I/

    # No redirigir si existe archivo o carpeta
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Todo a index.php
    RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
